In [1]:
import numpy as np
import pandas as pd

d = pd.DataFrame({'Mon': [68, 89, np.nan], 

 'Wed': [71, 93, 48], 

 'Fri': [66, 82, 104],

 'Tue': [75, 97, 43], 

 'Thu': [62, np.nan, 89]}, 

 index = ["day1","day2","day3"]).T

In [2]:
# 1. Reindex 'd' so row indices read chronologically, and include Sat and Sun. 
# That is, "Mon", "Tue", ..., "Sat', "Sun", and the columns indices read day3, day2, day1. 
# Print d to the console.
d = d.reindex(index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],columns = ['day3','day2','day1'])
print(d)

      day3  day2  day1
Mon    NaN  89.0  68.0
Tue   43.0  97.0  75.0
Wed   48.0  93.0  71.0
Thu   89.0   NaN  62.0
Fri  104.0  82.0  66.0
Sat    NaN   NaN   NaN
Sun    NaN   NaN   NaN

In [3]:
# 2. Print to the console the following elements: Tuesday and Thursday, for day3 and day2.
print(d.loc[["Tue","Thu"],['day3','day2']])

     day3  day2
Tue  43.0  97.0
Thu  89.0   NaN

In [4]:
# 3. Using only two lines of code: 
# A) Drop rows containing naâ€™s
# B) print the mean temperature for each day of the week to the console, rounding values to 3 decimal places.
d = d.dropna()
print(round(d.T.mean(),3))

Tue    71.667
Wed    70.667
Fri    84.000
dtype: float64

In [5]:
d = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/mpg.csv')

In [6]:
# 4. Calculate the mean city (cty) mileage for each class of vehicle, 
# rounded to two decimal places, printing the result to the console.
cls = d['cty'].groupby([d['class']])
print(round(cls.mean(),2))

class
2seater       15.40
compact       20.13
midsize       18.76
minivan       15.82
pickup        13.00
subcompact    20.37
suv           13.50
Name: cty, dtype: float64

In [7]:
# 5. Group 'd' by cylinders (cyl) and type of drive train (drv). 
# Calculate the number of models per group. 
# Convert the result into a DataFrame, and print to the console
cyldrv = d['cyl'].groupby([d['cyl'],d['drv']]).count()
display(cyldrv.unstack())

drv     4     f     r
cyl
4    23.0  58.0   NaN
5     NaN   4.0   NaN
6    32.0  43.0   4.0
8    48.0   1.0  21.0