In [15]:
# 1. Print your current working directory to the console
import os
import numpy as np
print(os.getcwd())

c:\Users\reche\OneDrive\Documents\School\2024 3 - Fall\CSCI 2000\Worksheets

In [16]:
# 2. Create 'd', a nested list that contains 5 other lists. 
# The first list should contain the four string values: ID, Age, is_part_time, salary. 
# The next 4 lists should contain date of types: int, int, boolean, int. 
# For example [3, 35, False, 72000]. 
# Populate these 4 remaining lists with your own made-up data.
d = [['ID', 'Age', 'is_part_time', 'salary'],[47,25,True,35000],[68,39,False,90000],[52,67,True,50000],[98,49,False,100000]]

In [17]:
# 3. Using Python's csv module, write 'd' to disk as ‘data.csv’. 
# Use the method writerows() to write the nested list structure.
import csv
with open('data.csv', mode='w', newline='') as emp_file:
    writer = csv.writer(emp_file)
    writer.writerows(d)

In [18]:
# 4. Using pandas, module, load the same csv file into 'd2', and print d2.
import pandas as pd
d2 = pd.read_csv('data.csv')
print(d2)

   ID  Age  is_part_time  salary
0  47   25          True   35000
1  68   39         False   90000
2  52   67          True   50000
3  98   49         False  100000

In [19]:
# 5. Create a Series 'd' containing 5 values, 0 through 4 inclusive, in increments of 1, with indexes 'a' through 'e', inclusive.
d = pd.Series([0,1,2,3,4], index=['a','b','c','d','e'])

In [20]:
# 6. Create a 'd2' containing 5 values, 5 through 9 inclusive, with indexes: a,b,c,d,z.
d2 = pd.Series([5,6,7,8,9], index=['a','b','c','d','z'])

In [21]:
# 7. Arithmetically add d and d2, save in 'd3', and print d3 to console. You should see two NaN values at the end of d3.
d3 = d + d2
print(d3)

a     5.0
b     7.0
c     9.0
d    11.0
e     NaN
z     NaN
dtype: float64

In [22]:
# 8. Using a Panda's method, identify which values in d3 contain NaN. 
# Using that information, print only those NaN values in d3 to console.
pd.isna(d3)
print(d3.loc[pd.isna(d3)])

e   NaN
z   NaN
dtype: float64

In [23]:
# Create a dictionary with the following code:
d4 = {'A': np.random.randint(low=1, high=100, size=10), 'B': np.random.normal(loc=0, scale=1, size=10)}

In [24]:
# 9. Convert d4 into a DataFrame and print d4 to console. 
# Determine which elements in column 'A' are greater than 50 and store the result in a new column in d4 called 'greater'.
d4 = pd.DataFrame(d4)
print(d4)
d4["greater"] = d4['A'] > 50

    A         B
0  26  0.529812
1  98  0.592850
2  85  0.740597
3  64  0.873906
4  39 -0.505901
5  34 -1.751647
6  74  0.151009
7  33  0.593070
8   5 -0.243795
9  73  1.869348

In [25]:
# 10. Using Boolean indexing, print only the rows in d4 where the Greater condition is True.
print(d4[d4['greater'] == True])

    A         B  greater
1  98  0.592850     True
2  85  0.740597     True
3  64  0.873906     True
6  74  0.151009     True
9  73  1.869348     True