## L15 - Data science process & files ##

**Data science process**

In [2]:
import numpy as np

In [3]:
# Where are we?
import os
os.getcwd()

'c:\\Users\\reche\\OneDrive\\Documents\\School\\2024 3 - Fall\\CSCI 2000\\Notebooks\\L14'

In [4]:
import csv
# Write accounts.csv to disk
with open('employees.csv', mode='w', newline='') as emp_file:
    writer = csv.writer(emp_file)
    #print(type(emp_file))
    #print(type(writer))
    # Column header
    writer.writerow(['ID','Name','Value'])
    writer.writerow([10, 'Sam', 123.07])
    writer.writerow([20, 'Jurad', 48.6])
    writer.writerow([30, 'Amir', 956.5])
    writer.writerow([40, 'Laila', 0.00])
    writer.writerow([50, 'Navi', -1024])

# Example of append
# with open('employees.csv', mode='a', newline='') as emp_file:
#     writer = csv.writer(emp_file)
#     writer.writerow([0, 'append', 0])

In [5]:
# Reading a CSV file
with open('employees.csv', mode='r', newline='') as emp_file:
    reader = csv.reader(emp_file)
    for row in reader:
        id, name, value = row
        print(f"{id}\t{name}\t{value}")

ID	Name	Value
10	Sam	123.07
20	Jurad	48.6
30	Amir	956.5
40	Laila	0.0
50	Navi	-1024

In [6]:
# Run once
# pip install pandas

In [7]:
import pandas as pd
# Using Panda's read_csv
df = pd.read_csv('employees.csv', names=['ID',"First name","Salary"])
# Evaluate our dataframe
df

   ID First name  Salary
0  ID       Name   Value
1  10        Sam  123.07
2  20      Jurad    48.6
3  30       Amir   956.5
4  40      Laila     0.0
5  50       Navi   -1024