## L17 - Pandas 2 ##

**1. Reindexing**

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Series
d = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
d

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [3]:
# Reindex
print(d)
d2 = d.reindex(["e","a","b","c","d"])
d2

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

e    NaN
a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [4]:
d = pd.Series(["apple", "pear", "banana"], index=[0, 2, 7])
d
print(d.reindex(np.arange(12), method="ffill"))
#print(d.reindex(np.arange(12), method="nearest"))

0      apple
1      apple
2       pear
3       pear
4       pear
5       pear
6       pear
7     banana
8     banana
9     banana
10    banana
11    banana
dtype: object

In [5]:
# Construct DF
provinces = pd.DataFrame(np.arange(9).reshape((3, 3)),
index=["a", "c", "d"],
columns=["Ontario", "Quebec", "Alberta"])
print(provinces)
# Row reindexing
p2 = provinces.reindex(index=["a", "b", "c", "d"])
p2

   Ontario  Quebec  Alberta
a        0       1        2
c        3       4        5
d        6       7        8

   Ontario  Quebec  Alberta
a      0.0     1.0      2.0
b      NaN     NaN      NaN
c      3.0     4.0      5.0
d      6.0     7.0      8.0

In [6]:
# Column reindexing
p3 = provinces.reindex(columns = ["Alberta","Ontario","Quebec"])
p3

   Alberta  Ontario  Quebec
a        2        0       1
c        5        3       4
d        8        6       7

In [7]:
print(p3)
p3 = p3.reindex(index=["a", "d"])
p3

   Alberta  Ontario  Quebec
a        2        0       1
c        5        3       4
d        8        6       7

   Alberta  Ontario  Quebec
a        2        0       1
d        8        6       7

**2. Dropping values**

In [8]:
# Dropping values
d = pd.Series(np.arange(5.), index=["a", "b", "c", "d", "e"])
print(d,"\n------")
# Returns a 'view'
print(d.drop("c"),"\n------")
#print(d)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
------
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64
------

In [9]:
# Drop multiple indices
d.drop(["e","b"])

a    0.0
c    2.0
d    3.0
dtype: float64

In [10]:
d = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=["Ontario", "Quebec", "Alberta", "British Columbia"],
columns=["one", "two", "three", "four"])
print(d,"\n-----")
# Column drop
print(d.drop(["one","three"], axis=1),"\n-----")
# Row drop
print(d.drop(["Alberta"], axis=0))

                  one  two  three  four
Ontario             0    1      2     3
Quebec              4    5      6     7
Alberta             8    9     10    11
British Columbia   12   13     14    15
-----
                  two  four
Ontario             1     3
Quebec              5     7
Alberta             9    11
British Columbia   13    15
-----
                  one  two  three  four
Ontario             0    1      2     3
Quebec              4    5      6     7
British Columbia   12   13     14    15

**3. Indexing and selection**

In [11]:
# Which index?
d = pd.Series([1, 2, 3], index=[2, 0, 1])
print(d,"\n----")
# Indexes by label (is that what we wanted?)
print(d[[0,2]])

2    1
0    2
1    3
dtype: int64
----
0    2
2    1
dtype: int64

In [12]:
# loc and iloc
provinces = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=["Ontario", "Quebec", "Alberta", "British Columbia"],
columns=["one", "two", "three", "four"])
provinces

                  one  two  three  four
Ontario             0    1      2     3
Quebec              4    5      6     7
Alberta             8    9     10    11
British Columbia   12   13     14    15

In [13]:
print(provinces,"\n-----")
# Label-based
provinces.loc[["Ontario","Alberta"]]

                  one  two  three  four
Ontario             0    1      2     3
Quebec              4    5      6     7
Alberta             8    9     10    11
British Columbia   12   13     14    15
-----

         one  two  three  four
Ontario    0    1      2     3
Alberta    8    9     10    11

In [14]:
# Loc catches user errors
d = pd.Series([1, 2, 3], index=["a", "b", "c"])
print(d,"\n----")
# Succeeds
print(d.loc[["b","c"]],"\n----")
# Fails - values aren't present in index
print(d.loc[["b","z"]])
# Fails - values aren't present in index
d.loc[[0,1]]

a    1
b    2
c    3
dtype: int64
----
b    2
c    3
dtype: int64
----

KeyError: "['z'] not in index"

In [ ]:
print(provinces,"\n----")
# Label-based
provinces.loc[["Ontario","Alberta"]]

In [ ]:
print(provinces,"\n----")
# Integer-based
provinces.iloc[[0,1]]

In [ ]:
print(provinces,"\n-----")
# Specific rows and columns
print(provinces.loc[["Quebec","Alberta"],["two","four"]],"\n----")
# Loc-based indexing
print(provinces.loc[:,["two","four"]],"\n----")
# iloc-based equivalent
provinces.iloc[:,[1,3]]

In [ ]:
print(provinces,"\n-----")
# Indexing with slices (loc is Inclusive)
print(provinces.loc['Ontario':'Alberta', :])
# Equivalent iloc slice (iloc is Exclusive)
print(provinces.iloc[0:3, :])
# Slices with steps
print(provinces.iloc[0:4:2, :])

**4. Boolean indexing**

In [ ]:
# Four students each with 3 exam grades
grades = pd.DataFrame([[75, 45, 60], [100, 85, 92],
[55, 78, 0], [14, 88, 49]], columns=["Mark","Kelly","Idra"], index=["Exam1","Exam2","Exam3","Exam4"])
grades

In [ ]:
# Who passed?
grades >= 50

In [ ]:
# Retrieve those student grades that passed:
grades[grades >= 50]

In [ ]:
# Students who got a B
grades[(grades >=70) & (grades < 80)]

**5. Universal Functions**

In [ ]:
# Generate some random numbers
np.random.standard_normal((4, 3))

In [ ]:
# Initialise DF with random data
d = pd.DataFrame(np.random.random_sample((4,3))*10-5,
columns=list("gjk"),
index=["Ontario", "Alberta", "Manitoba", "Saskatchewan"])
print(d,"\n----")
# NumPy absolute function
#print(np.abs(d))

In [ ]:
frame = pd.DataFrame(np.random.standard_normal((4, 3)),
columns=list("bde"),
index=["Utah", "Ohio", "Texas", "Oregon"])
frame

In [ ]:
# Custom functions
def pd_range(x):
    return x.max() - x.min()

# Apply to given axis
d.apply(pd_range, axis=1)

In [ ]:
print(d,"\n----")
# Arithmetic sum on columns
print(d.sum(axis=1),"\n----")
print(d.mean(axis=0))