In [21]:
fruits =  ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(fruits[0])
print(fruits[len(fruits)-1])
print(fruits[1:3])
fruits[1] = 'blueberry'
print(fruits)
fruits.pop()
print(fruits)
fruits.append('fig')
print(fruits)

apple
elderberry
['banana', 'cherry']
['apple', 'blueberry', 'cherry', 'date', 'elderberry']
['apple', 'blueberry', 'cherry', 'date']
['apple', 'blueberry', 'cherry', 'date', 'fig']

In [22]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 + list2)
print(list1*3)
print(list2.index(5))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
1

In [23]:
numbers = [5, 2, 9, 1, 5, 6]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 2, 5, 5, 6, 9]
[9, 6, 5, 5, 2, 1]

In [24]:
words = ['banana', 'apple', 'cherry', 'date']
words.sort()
print(words)
words.reverse()
print(words)

['apple', 'banana', 'cherry', 'date']
['date', 'cherry', 'banana', 'apple']

In [25]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.remove('banana')
print(fruits)
fruits.pop()
print(fruits)
fruits.clear()
print(fruits)

['apple', 'cherry', 'date']
['apple', 'cherry']
[]

In [26]:
numbers = (10, 20, 30, 40, 50)
print(numbers[1])
print(numbers[1:4])
print(numbers.index(30))

20
(20, 30, 40)
2

In [28]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
print(set_a.union(set_b))
print(set_a.intersection(set_b))
print(set_a.difference(set_b))
print(set_a.issubset(set_b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
False

In [29]:
student = {'name' : 'Alice', 'age' : 24, 'grade' : 'A'}
print(student)
print(student['name'])
student['major'] = 'Computer Science'
print(student)
student['grade'] = 'A+'
print(student)
del student['age']
print(student)

{'name': 'Alice', 'age': 24, 'grade': 'A'}
Alice
{'name': 'Alice', 'age': 24, 'grade': 'A', 'major': 'Computer Science'}
{'name': 'Alice', 'age': 24, 'grade': 'A+', 'major': 'Computer Science'}
{'name': 'Alice', 'grade': 'A+', 'major': 'Computer Science'}

In [31]:
prices = {'apple': 0.50, 'banana': 0.30, 'cherry': 1.00, 'date': 1.50}
sum = 0
for k,v in prices.items():
    print(k,v)
    sum = sum+v
print(f"Total {sum}")

apple 0.5
banana 0.3
cherry 1.0
date 1.5
Total 3.3

In [33]:
students = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90}
for k,v in sorted(students.items()):
    print(k,v)
print()
for k,v in sorted(students.items(), reverse=True):
    print(k,v)

Alice 85
Bob 92
Charlie 78
David 90

David 90
Charlie 78
Bob 92
Alice 85